body{
    margin: 0px;
}
.p2{
    margin-top: 0px;
    margin-left: 20px;
}
h1{
    text-align: center;
    color: red;
    box-shadow: inset 0 0 10px blue, inset 0 0 30px green;
}
h2{
    color: #84848d;
    text-align: center;
}
h3{
    text-align: center;
}